# ROS2 build artifacts
build/
build_slam_example/
install/
install_slam_example/
log/
log_local/
log_slam_example/

# Python cache
*.pyc
__pycache__/


# Third-party libraries
ORB_SLAM3/
ORB_SLAM3_backup/
ORB_SLAM3_stereo_inertial/
Pangolin/
eigen/


# Trajectory outputs
CameraTrajectory.txt

.DS_Store
*.swp
*.swo

