download2
data/local
cones/out
cones/copy_silverstone.m
track_boundaries/out
cones/*.png
cones/*.mat
*.bak
*.pyc
cones/cone_tool/last_image.txt
*.libsvm
*.m~
*.xml
*.*~
data/negative
cones/models/am_svm
*.mexa64
*.lprof
cones/cone_detector/ftgl/build
cones/cone_detector/amsvm/build
cones/cone_detector/C_*.png
cones/elm
cones/simd
cones/eigen
cones/drtoolbox
neat-checkpoint-*
winner.net*
winner.gen*
neat/simulator/simgeom/build

neat/simulator/FTGL.cpython-36m-x86_64-linux-gnu.so
neat/simulator/simgeom.cpython-36m-x86_64-linux-gnu.so
neat/simulator/simgeom.so
neat/simulator/ftgl/build
cones/cnn-experiment-cones*
photos
lib
line_profiler
neat/simulator/evolution_extinction.png
neat/simulator/genome.png
neat/simulator/good/
neat/simulator/nn/
neat/simulator/nn0000.png
neat/simulator/racetrack/
neat/simulator/test.png
neat/simulator/traj1/
neat/simulator/traj3/
downloads
negative.txt
positive.txt
fsuk 2019 recordings
cone_16x14.vec
cone_detector/FTGL.cpython-36m-x86_64-linux-gnu.so
cone_detector/markers.pdf
cone_detector/out/
cones/data
cone_detector.cfg
cone_detector_app.cfg
cones/cone_detector/out
/cones/cone_detector/markers.pdf
/cones/cone_detector/ftgl
/cones/cone_detector/FTGL.cpython-36m-x86_64-linux-gnu.so
simulator/ftgl/build
simulator/out
simulator/simgeom/build
simulator/simgeom/*.so
simulator/simgeom/build/*.so
simulator/*.so
simulator/simslam/build
simulator/.vscode
*.so
simulator/*.cfg
autopilot/autopilot.cfg
autopilot/ap/build
autopilot/ftgl/build
